@use "../styles" as *;

.mainCartBox {
  position: relative;
  .cartIcon {
    font-size: 1rem;
    width: 100%;
    max-width: 40px;
    background-color: $white;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: $navBarBGColor;
  }
  .cartCount {
    position: absolute;
    top: -6px;
    right: -6px;
    font-size: $font_14;
    font-weight: 600;
    background-color: $white;
    border-radius: 100%;
    color: $navBarBGColor;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: 1px 1px 8px 2px #00000069;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
