@use "../styles" as *;

.mainCartCountContainer {
  text-align: center;
  .cartCountContainerInner {
    display: flex;
    justify-content: space-between;
    padding-block: $font_16;
    border-top: 1px solid $black;
  }
  .cartCount {
    font-size: $font_24;
  }
  .clearBtn {
    font-size: $font_24;
    color: $white;
    background-color: $navBarBGColor;
    height: 3rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 700ms;
    &:hover {
      transition: all 700ms;
      box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.4117647059);
      transform: translate(0px, -10px);
    }
  }
}
